<tr>
  <th scope="row"><%= booking.field_type_name %></th>
  <td><%= booking.address %></td>
  <td><%= format_booking_booked_date(booking) %></td>
  <td><%= booking.start_time %></td>
  <td><%= booking.end_time %></td>
  <td>
    <div class="spinner-border text-<%= if booking.status == 1
                                          :primary
                                        else
                                          booking.status == 2 ? :success : :danger
                                        end %>" role="status">
    </div>
  </td>
  <td><%= "#{booking.price} #{Settings.CURRENCY}" %></td>
  <td>
    <% if past_date?(booking.booked_date, booking.start_time, booking.end_time) %>
      <div class=" dropdown zindex-dropdown">
        <a class="btn dropdown-toggle text-white" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu z-1" aria-labelledby="dropdownMenu2">

          <% if booking.status == 1 %>
            <%= button_to t("admin.static_pages.accept"), admin_static_page_path(booking.booking_id), method: :patch, class: "dropdown-item" %>
            <%= button_to t("admin.static_pages.reject"), cancel_admin_static_page_path(booking.booking_id), method: :patch, class: "dropdown-item" %>
          <% elsif booking.status == 2 %>
            <%= button_to "Pending", pending_admin_static_page_path(booking.booking_id), method: :patch, class: "dropdown-item" %>
            <%= button_to t("admin.static_pages.reject"), cancel_admin_static_page_path(booking.booking_id), method: :patch, class: "dropdown-item" %>
          <% else %>
            <%= button_to "Pending", pending_admin_static_page_path(booking.booking_id), method: :patch, class: "dropdown-item" %>
            <%= button_to t("admin.static_pages.accept"), admin_static_page_path(booking.booking_id), method: :patch, class: "dropdown-item" %>
          <% end %>
        </div>
      </div>
      <% else %>
      <span class="badge badge-danger">The browsing time has passed</span>
    <% end %>
  </td>
</tr>
<div class=<%= "modal fade" %> id="modal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="exampleModal123"><%= t("button.delete") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= t("confirm_message") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("button.cancel") %></button>
        <%= button_to t("button.confirm"), booking_path(booking), class: "btn btn-primary save-button", method: :delete, data: booking.id %>
      </div>
    </div>
  </div>
</div>
