<tr>
  <th scope="row"><%= bookings.field_type.field.name %></th>
  <td><%= bookings.field_type.field.address %></td>
  <td><%= bookings.start_time %></td>
  <td><%= bookings.end_time %></td>
  <td><%= bookings.field_type.field_type_name %></td>
  <td><%= "#{map_with_time_of_day(bookings.field_type.prices).price} #{Settings.CURRENCY}" %></td>
  <td>
    <%= button_to t("button.delete"), booking_path(bookings), class: "btn btn-danger", method: :delete %>
  </td>
</tr>
