<tr>
  <th scope="row"><%= booking.name %></th>
  <td><%= booking.address %></td>
  <td><%= "#{booking.created_at.to_time.strftime("%d/%m/%Y")} #{booking.created_at.to_time.strftime("%H:%M")}" %></td>
  <td><%= booking.start_time %></td>
  <td><%= booking.end_time %></td>
  <td><%= booking.field_type_name %></td>
  <td>
    <div class="spinner-border text-<%= check_status_booking(booking) %>" role="status">
    </div>
  </td>
  <td><%= "#{map_with_time_of_day(booking.prices).price} #{Settings.CURRENCY}" %></td>
  <td>
    <% if booking.pending? %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal123">
        Cancel
      </button>
    <% elsif booking.confirmed? %>
      <span class="badge badge-success">Confirmed</span>
    <% else %>
      <span class="badge badge-secondary">Rejected</span>
    <% end %>
  </td>
</tr>
<div class=<%= "modal fade" %> id="exampleModal123" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="exampleModal123">Delete booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete this booking ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= button_to t("button.delete"), booking_path(booking), class: "btn btn-primary save-button", method: :delete, data: booking.id %>
      </div>
    </div>
  </div>
</div>
