<div class="p-4">
  <section class="statistics ">
    <div class="d-flex align-items-center justify-content-between">
      <%= form_tag(admin_static_pages_path, method: :get) do %>
        <%= select_tag :status_filter, options_for_select(Booking.statuses.map { |key, value| [t("admin.statuses.#{key}"), value] }, @status_filter), include_blank: true, class: "form-control text-white dropdown" %>
        <%= submit_tag "Filter", class: "btn btn-primary text-white mt-2" %>
      <% end %>
      <%== pagy_bootstrap_nav @pagy %>
    </div>
    <div class="box d-flex rounded-2 align-items-center mb-4 mt-4 rounded">
      <div class="content rounded-3 p-3">
        <ul class="order-list">
          <div class="col-12">
            <div class="title-section">
              <h2 class="heading"><%= t("booking.booking_history_list") %></h2>
              <div class="col-1.5 float-right">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="spinner-border text-primary" role="status"></div>
                  <div class="">Pending</div>
                </div>
                <div class="d-flex align-items-center justify-content-between  mb-2">
                  <div class="spinner-border text-success" role="status"></div>
                  <div class="">Confirmed</div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="spinner-border text-danger" role="status"></div>
                  <p>Reject</p>
                </div>
              </div>
            </div>

            <table class="table text-white">
              <thead>
              <tr>
                <th scope="col"><%= t("field_attribute.name") %></th>
                <th scope="col"><%= t("field_attribute.address") %></th>
                <th scope="col"><%= t("email.booking_accepted.booked_date") %></th>
                <th scope="col"><%= t("field_attribute.start_time") %></th>
                <th scope="col"><%= t("field_attribute.end_time") %></th>
                <th scope="col"><%= t("field_attribute.status") %></th>
                <th scope="col"><%= t("field_attribute.price") %></th>
                <th scope="col"><%= t("field_types.action") %></th>
              </tr>
              </thead>
              <tbody id="booking">
              <%= render partial: "admin/bookings/booking", collection: @bookings %>
              </tbody>
            </table>
            <%= link_to "Export to excel", admin_export_excel_index_path(format: :xlsx), class: "btn btn-success float-right" %>

          </div>

        </ul>
      </div>
    </div>
  </section>
</div>
<script>
    const status_filter_element = document.querySelector("#status_filter").firstChild
    status_filter_element.textContent = "Select status"
</script>
